@model Hotel
@{
    ViewData["Title"] = "OtelDetay";
    Layout = "~/Views/Shared/_Layout_user.cshtml";
}
<section class="accomodation_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h3 class="title_color"><span>Otel Detay</span></h3>
        </div>
        <div class="row mb-5">
            <div class="col-4">
                <div class="col-12">
                    <span> @Model.Title</span><br />
                    <span> @Model.Phone</span><br />
                    <span> @Model.Location</span><br />
                    <span> @Model.City</span><br />
                    @foreach (var Room in Model.Room)
                    {
                        @foreach (var RoomImg in Room.RoomImages)
                        {
                            <img src="~/RoomImg/@RoomImg.RoomImg" style="height:100px" />
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>


