@model Hotel
@{
    ViewData["Title"] = "OtelDetay";
    Layout = "~/Views/Shared/_Layout_user.cshtml";
}
<section class="testimonial_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">@Model.Title</h2>
            <p>@Model.Address  @Model.Phone</p>
        </div>
        <div class="testimonial_slider owl-carousel">

            @foreach (var Room in Model.Room.Where(c => c.Status == true))
            {
                @foreach (var RoomImg in Room.RoomImages)
                {
                    <div class="col-12">
                        <div class="accomodation_item text-left">
                            <div class="hotel_img">
                                <img src="~/RoomImg/@RoomImg.RoomImg" style="width:300px !important; height:auto;" />
                                <a class="btn theme_btn button_hover text-white">@Room.Price ₺</a>
                            </div>
                            <h6><small></small></h6>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>


