@model TezProjesi.CustomModels.HomePageModels
@{
    ViewData["Title"] = "RezervasyonAra";
    Layout = "~/Views/Shared/_Layout_user.cshtml";
}

<section class="accomodation_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h3 class="title_color"><span>Odalar</span></h3>
            <div class="container">
                <div class="row accomodation_two">
                    @foreach (var room in Model.RoomList)
                    {
                        <div class="col-lg-3 col-sm-6">
                            <div class="accomodation_item text-center">
                                <div class="hotel_img">
                                    @*<img src="image/room1.jpg" alt="">*@
                                    @if (room.RoomImages.FirstOrDefault() == null)
                                    {

                                    }
                                    else
                                    {
                                        <img src="~/RoomImg/@room.RoomImages.FirstOrDefault().RoomImg" style="width:263px; height:270px;" />

                                    }

                                    <a class="book_now_btn button_hover" href="@Url.Action("RezervasyonYap","User", new {startDate = Model.reservation.startdate,endDate= Model.reservation.enddate,children= Model.reservation.children,adults= Model.reservation.adults,hotelID= Model.reservation.HotelID,roomID = room.Id })">Rezervasyon Yap</a>
                                </div>
                                <a class="btn theme_btn button_hover text-white">@room.Price ₺</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>